<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>21-adv-club-dec</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>com.controller.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/SignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InputDataServlet</servlet-name>
    <servlet-class>com.controller.InputDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InputDataServlet</servlet-name>
    <url-pattern>/InputDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MySignupServlet</servlet-name>
    <servlet-class>com.controller.MySignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MySignupServlet</servlet-name>
    <url-pattern>/MySignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>com.controller.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/AddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CurrencyConvertorServlet</servlet-name>
    <servlet-class>com.controller.CurrencyConvertorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CurrencyConvertorServlet</servlet-name>
    <url-pattern>/CurrencyConvertorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FindAgeSerlvet</servlet-name>
    <servlet-class>com.controller.FindAgeSerlvet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAgeSerlvet</servlet-name>
    <url-pattern>/FindAgeSerlvet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>AgeValidationFilter</filter-name>
    <filter-class>com.filter.AgeValidationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AgeValidationFilter</filter-name>
    <url-pattern>/FindAgeSerlvet</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>NameValidationFilter</filter-name>
    <filter-class>com.filter.NameValidationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>NameValidationFilter</filter-name>
    <url-pattern>/FindAgeSerlvet</url-pattern>
  </filter-mapping>
  <session-config>
    <session-timeout>2</session-timeout>
  </session-config>
  <listener>
    <listener-class>com.listener.SessionCounterListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>DeleteUserServlet</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>com.controller.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/DeleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DbSearchUserServlet</display-name>
    <servlet-name>DbSearchUserServlet</servlet-name>
    <servlet-class>com.controller.DbSearchUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DbSearchUserServlet</servlet-name>
    <url-pattern>/DbSearchUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyServlet</display-name>
    <servlet-name>MyServlet</servlet-name>
    <servlet-class>com.controller.MyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet</servlet-name>
    <url-pattern>/MyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.controller.LoginServlet</servlet-class>
    <init-param>
      <param-name>email</param-name>
      <param-value>admin@gmail.com</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>admin</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUserSerlvet</display-name>
    <servlet-name>EditUserSerlvet</servlet-name>
    <servlet-class>com.controller.DbEditUserSerlvet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserSerlvet</servlet-name>
    <url-pattern>/EditUserSerlvet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DbUpdateUserServlet</display-name>
    <servlet-name>DbUpdateUserServlet</servlet-name>
    <servlet-class>com.controller.DbUpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DbUpdateUserServlet</servlet-name>
    <url-pattern>/DbUpdateUserServlet</url-pattern>
  </servlet-mapping>
</web-app>